
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC1ppvdytwiDJfFtACezuOMPjU-XFqXi3c",
    authDomain: "puelacs.firebaseapp.com",
    databaseURL: "https://puelacs.firebaseio.com",
    projectId: "puelacs",
    storageBucket: "",
    messagingSenderId: "523914822238"
  };
  firebase.initializeApp(config);
</script>

<div class="app-component">
<h1 class="text-center">Adventure Time</h1>
<app-table></app-table>
</div>